/* reset */

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *::after,
  *::before{
    box-sizing: inherit;
  }
  
  ul[class],
  ol[class] {
    padding: 0;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
    font-size: inherit;
  }
  
  ul[class] {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  a{
    text-decoration: none;
  }

  /* reset end */

body{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
  overflow-x: hidden;
  color: #636060;
  min-width: 320px;
  background-color: lightblue;
}

.wrapper{
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

/* header start */

.header{
  background-color: #EDF2EC;
  height: 134px;
}

.container {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.container__header{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  padding-left: 22px;
  position: relative;
  font-family: 'Inika', sans-serif;
  font-size: 16px;
  line-height: 21px;
}

.logo::before{
  content: '';
  position: absolute;
  padding-left: 1px;
  width: 22px;
  height: 22px;
  left: 0;
  top: -5px;
  background-image: url(./img/plants.svg);
}

.navigation-list{
  display: flex;
  gap: 46px;
}

.navigation-link{
  font-family: 'Inika', sans-serif;
  font-size: 16px;
  line-height: 50px;
  color: #010201;
  transition: .5s;
  margin-right: 1px;
}

.navigation-link:hover{
  color: #E06733;
  transition: .5s;
}

.navigation-link:focus{
  color: #E06733;
}

.hamb{
  display: none;
}

.popup{
  display: none;
}


/* header end */

/* section welcome start */

.welcome{
 background-color: #EDF2EC;
}
.container__welcome{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 532px;
}

.container__welcome-img{
  width: 449px;
  height: 407px;
  background-image: url(./img/leafs.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container__welcome-info{
  width: 549px;
  height: 340px;
}

.container__welcome-title{
  color: #717171;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 45px;
}

.container__welcome-title-color{
  color: #499A18;
}

.container__welcome-text{
  margin-bottom: 48px;
}

.btn{
  width: 158px;
  height: 44px;
  border: 2px solid #E06733;
  border-radius: 10px; 
  font-size: 16px;
  line-height: 20px;
  color: #000000; 
  background-color: transparent;
  cursor: pointer;
  transition: .5s;
}

.btn:hover{
  background: #E06733;
  color: #fff;
  transition: .5s;
}

/* section welcome end */

/* section about start*/

.about{
  background-color: #fff;
}

.container__about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 666px;
}

.container__about-info{
  width: 605px;
}

.container__about-title{
  width: 463px;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  margin-top: 10px;
  margin-bottom: 40px;
}

.container__about-title-color{
  color: #E06733;
}

.container__about-text{
  line-height: 30px;
}

.container__about-img{
  width: 464px;
  height: 479px;
  background-image: url(./img/houseplant.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* section about end*/

/* section service start*/

.service{
  background-color: #EDF2EC;
}

.container__service{
  height: 1300px;
  display: flex;
  flex-direction: column;
}

.container__service__head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1007px;
  margin-bottom: 85px;
  margin-top: 39px;
}

.container__service__head-title{
  font-family: 'Inika';
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  width: 306px;
}

.container__service__head-btn{
  width: 161px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: transparent;
  font-family: 'Inika';
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  transition: .5s;
  cursor: pointer;
  margin-right: 2px;
  margin-top: 4px;
  padding-left: 2px;
}

.container__service__head-btn:hover{
  background-color: #E06733;
  color: #fff;
  transition: .5s;
}

.container__service__head-btn:focus{
  background-color: #E06733;
  color: #fff;
  transition: .5s;
}

.container__service__head-btn-m{
  margin-left: 30px;
  margin-right: 32px;
}

.container__service__main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container__service__main-box{
  margin-bottom: 55px;

}

.container__service__main-box-img{
  background-image: url(./img/first.png);
  width: 330px;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blur{
  filter: blur(2px)
}

.container__service__main-box-img-two{
  background-image: url(./img/two.png);
}

.container__service__main-box-img-three{
  background-image: url(./img/three.png);
}

.container__service__main-box-img-four{
  background-image: url(./img/four.png);
}

.container__service__main-box-img-five{
  background-image: url(./img/five.png);
}

.container__service__main-box-img-six{
  background-image: url(./img/six.png);
}

.container__service__main-box-border{
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
  width: 330px;
  text-align: center; 
}

.container__service__main-box-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #E06733;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container__service__main-box-text{
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  margin-bottom: 36px;
}

/* section service end*/

/* section prices start*/

.prices{
  background-color: #fff;
}

.container__prices{
  display: flex;
  justify-content: space-between;
  height: auto;
}

.container__prices-left{
  margin-top: 40px;
  margin-bottom: 129px;
}

.container__prices-right{
  margin-top: 40px;
}

.container__prices-left-title{
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 60px;
  margin-top: 5px;
}

.accordion{
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  width: 332px;
}

.accardion__wrapper{
  margin: 34px 41px;
}

.accordion-item{
  position: relative;
  display: flex;
  align-items: center;
  width: 250px;
  height: 50px;
  background: #EDF2EC;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 32px;
}

.accordion-item-header{
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin-left: 40px;
}

.accordion-item:hover{
  background-color: #D6E7D2;
}

.accordion-item-body{
  display: none;
  width: 250px;
  background-color: #D6E7D2;
  border-radius: 0 0 20px 20px;
  margin-bottom: 32px;
  margin-top: -32px;
  padding-bottom: 12px;
}

.accardion-text{
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
  width: 162px;
  border-top: 0.5px solid #AEA1A1;
  padding-top: 6px;
  margin-left: 40px;
  margin-bottom: 6px;
}

.accardion-text-price{
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  margin-left: 40px;
  margin-bottom: 12px;
}

.accardion-text-price-color{
  font-weight: 700;
  font-size: 12px;
  color: #E06733;
}

.btn-price{
  padding: 3px 20px;
  width: 86px;
  height: 25px;
  margin-left: 40px;
  background-color: #FFFFFF;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #717171;
  cursor: pointer;
  transition: 0.5s;
}

.btn-price:hover{
  transition: 0.5s;
  background-color: #EDF2EC;
}

.accordion-item::after{
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(./img/accordionbtndown.png);
  top: 17px;
  right: 40px;
}

.accordion-item.activeimg::after{
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(./img/accordionbtnup.png);
  top: 17px;
  right: 40px;
}

.container__prices-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container__prices-title{
  text-align: right;
  max-width: 408px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 37px;
  margin-top: 5px;
}

.title-color{
  color: #499A18;
}

.container__prices__head-btn{
  margin-right: 0px;
}

.container__prices-img{
  margin-top: 39px;
  background-image: url(./img/leafsprices.png);
  width: 152px;
  height: 175px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* section prices end*/

/* section contacts start*/

.contacts{
  background-color: #EDF2EC;
}

.container__contacts{
  display: flex;
  justify-content: space-between;
  height: 550px;
}

.wrapper-img{
  display: flex;
  align-items: flex-end;
}

.container__contacts-img{
  background-image: url(./img/contact_woman.png);
  width: 400px;
  height: 497px;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  bottom: 0;
}

.container__contacts-title{
  font-family: 'Inika';
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  margin: 57px 65px 0 111px;
}

.container__contacts__dropdown-button{
  position: relative;
  width: 450px;
  height: 50px;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-align: left;
  padding-left: 35px;
  color: #717171;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  margin-top: 147px;
}

.container__contacts__dropdown-button.color{
  background: #C1E698;
}

.container__contacts__dropdown-button:hover{
  background: #C1E698;
}

.container__contacts__dropdown-button::after{
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(./img/dropdown.png);
  top: 17px;
  right: 35px;
}

.container__contacts__dropdown-button.dropactiveimg::after{
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(./img/dropup.png);
  top: 17px;
  right: 35px;
}

.contact__content{
  padding: 31px 0 31px 0;
  background-color: #D6E7D2;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}

.contact__content-visible{
  visibility: visible;
  opacity: 1;
  transition: .3s;
}

.contact__content-item{
  position: relative;
  padding-top: 12px;
  padding-left: 35px;
  font-size: 16px;
  line-height: 40px;
  color: #499A18;
  cursor: pointer;
}

.contact__content-item::before{
  position: absolute;
  content: '';
  border-bottom: 1px solid #D9D9D9;
  width: 380px;
  bottom: 0;
}

.contact__content-item:hover{
  color: #717171;
}

.contact__content-item:hover:before{
  border-bottom: 1px solid #717171;
}

.card__content{
  display: flex;
  flex-wrap: wrap;
  margin-top: -230px;
  padding: 17px 76px 32px 33px;
  background: #EDF2EC;
  border: 1px solid #000000;
  border-radius: 20px;
  max-width: 448px;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}

.card__content-visibilty{
  visibility: visible;
  opacity: 1;
}

.card__left-list{
  margin-right: 20px;
}

.card__left-item{
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #000000;
}

.card__right-item{
  font-size: 16px;
  line-height: 40px;
  color: #717171;
}

.card__right-item:nth-child(2){
  padding-left: 1px;
}

.card__right-item:first-child{
  padding-left: 6px;
}


.card__button{
  font-family: 'Inika';
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  color: #717171;
  width: 126px;
  height: 32px;
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: #EDF2EC;
  cursor: pointer;
  margin-top: 24px;
  margin-left: 120px;
  padding: 7px 29px;
  text-align: center;
  transition: .5s;
}

.card__button:hover{
  background-color: #E06733;
  color: white;
  transition: .5s;
}

/* section contacts end*/

/* section footer start*/

.footer{
  background-color: #fff;
}

.container__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
}

.container__footer-info-list{
  display: flex;
  gap: 20px;
}

.container__footer-info-item{
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.container__footer-info-link{
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer-title{
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  margin-left: 16px;
}

.container__footer-social-list{
  display: flex;
}

.container__footer-social-list:last-child{
  margin-right: 0px;
}

.container__footer-social-item{
  margin-right: 26px;
}

.container__footer-social-item:last-child{
  margin-right: 0px;
}

.container__footer-social-item:first-child{
  margin-right: 31px;
}

.container__footer-social-item:nth-child(2){
  margin-right: 29px;
}

/* section footer end*/

/* adaptive start*/


@media (max-width: 1300px){
  .container__contacts-title{
    margin: 40px 0 0 0;
  }
}

@media (max-width: 1100px){
  .container__about-img{
    width: 250px;
    height: 258px;
  }
  .container__contacts{
    flex-direction: column;
    height: 739px;
    align-items: center;
  }
  .wrapper-img:nth-child(1){
    order: 3;
  }
  .container__contacts-img{
    width: 200px;
    height: 249px;
  }
  .container__contacts__dropdown-button{
    margin-top: 0;
  }
  .wrapper-img{
    margin: 148px 0 0 18px;
  }
}


@media (max-width: 1050px){
  .header{
    height: 117px;
  }
  .container__welcome{
    height: 381px;
  }
  .container__welcome-img{
    max-width: 280px;
    max-height: 254px;
  }
  .container__welcome-info{
    max-width: 549px;
    width: 100%;
  }
  .container__service{
    height: auto;
  }
  .container__service__head-btn-m{
    margin-left: 32px;
  }
}


@media (max-width: 920px){
  .container__service__head{
    display: block;
    margin-bottom: 40px;
  }
  .container__service__head-title{
    margin: 20px 0 38px 0;
    font-size: 35px;
    line-height: 46px;
  }
}


@media (max-width: 890px){
    .container__about{
      flex-direction: column;
    }
    .container__about-info{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 29px;
      width: 668px;
    }
    .container__about-title{
      margin-bottom: 51px;
    }
  }


@media (max-width: 840px){
  .container__welcome-title{
    font-size: 35px;
    margin-bottom: 32px;
  }
  .container__welcome-text{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 35px;
  }
  .container__welcome-info{
    max-width: 346px;
  }
  .container__service__main-box{
    margin-right: 2px;
    margin-bottom: 39px;
  }
  .container__service__main-box-img{
    width: 280px;
    height: 350px;
  }
  .container__service__main-box-img-two{
    background-size: cover;
  }
  .container__service__main-box-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 280px;
    height: 100px;
  }
  .container__service__main-box-text{
    max-width: 201px;
  }
  .container__service__main:last-child{
    margin-bottom: 30px;
  }
  .container__prices{
    height: auto;
    padding-bottom: 20px;
  }
  .container__prices-left{
    margin-top: 35px;
  }
  .container__prices-left-title{
    font-size: 35px;
    line-height: 42px;
    padding-left: 13px;
  }
  .container__prices-title{
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 25px;
  }
  .accardion__wrapper{
    margin: 30px 41px;
  }
  .container__prices-right{
    margin-top: 134px;
  }
  .container__prices-img{
    margin-top: 35px;
  }
}


@media (max-width: 780px){
  .container{
    padding: 0 50px;
  }
  .welcome{
    padding-top: 38px;
  }
  .container__welcome{
    flex-direction: row-reverse;
    align-items: inherit;
  }
  .container__welcome-text{
    padding-left: 7px;
  }
  .container__welcome-info{
    margin-right: 45px;
  }
  .container__about{
    height: 783px;
    justify-content: flex-start;
  }
  .container__about-title{
    font-size: 35px;
    line-height: 46px;
    text-align: center;
  }
  .container__about-info{
    margin-bottom: 66px;
  }
  .container__footer{
    height: 181px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .container__footer-info-list{
    margin-top: 20px;
  }
  .container__footer-info-item{
    margin-right: 2px;
  }
  .footer-title{
    margin-left: 0;
    margin-right: 4px;
    line-height: 30px;
  }
  .container__footer-social-list{
    margin-top: 23px;
  }
  .container__footer-social-item:nth-child(3){
    margin-top: 4px;
  }
  .container__footer-social-item:nth-child(4){
    margin-right: 5px;
  }
  .container__footer-social-item:nth-child(1){
    margin-left: 3px;
  }
}


@media (max-width: 767px){
  .container__welcome-info{
    margin-right: 0;
  }

}

@media (max-width: 730px){
  .container__welcome{
    justify-content: center;
  }
  .container__welcome-img{
    display: none;
  }
  .container__about-info{
    max-width: 330px;
  }
  .container__about-img{
    width: 150px;
    height: 147px;
  }
}

@media (max-width: 700px){
  .accordion-item-body{
    width: 180px;
  }
  .accardion-text{
    width: 100px;
  }
  .container__contacts{
    height: auto;
  }
  .container__contacts-title{
    margin-bottom: 50px;
  }
  .container__prices-left{
    margin-bottom: 0;
  }
  .navigation{
    display: none;
  }
  .hamb{
    display: block;
    align-items: center;
    margin-bottom: 7px;
    z-index: 101;
  }
  .hamb__field{
    cursor: pointer;
  }
  .bar{
    display: block;
    width: 40px;
    height: 2px;
    margin: 6px auto;
    transition: .2s;
    background-color: #717171;
  }
  .popup{
    position: fixed;
    top: 0px;
    right: -100%;
    width: 99.5%;
    height: 100%;
    background-color: #EDF2EC;
    z-index: 100;
    display: flex;
    transition: 0.3s;
    border-radius: 5px;
    border-top: none;
  }
  .open{
    right: 0;
  }
  .popup{
    padding: 100px 0;
  }

  .navigation-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    overflow: auto;
  }
  .navigation-item{
    width: 100%;
  }
  .navigation-link{
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
  }

  .navigation-link:hover{
    background-color: rgba(122, 82, 179, 0.1);
  }
  .active .bar:nth-child(2){
    opacity: 0;
  }
  .active .bar:nth-child(3){
    opacity: 0;
  }
  .active .bar:nth-child(1){
    transform:translateY(12px) rotate(45deg)
  }
  .active .bar:nth-child(4){
    transform:translateY(-12px) rotate(-45deg)
  }
  .container__service__main{
    justify-content: center;
  }
  .container__service__head-btn-m{
    margin-right: 1px;
    margin-left: 1px;
  }
  .container__service__head-btn{
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 20px;
  }
  .container__service__head-title{
    font-size: 25px;
    line-height: 33px;
    width: 187px;
  }
  .container__prices-img{
    display: none;
  }
  .container__prices{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .container__prices-left-title{
    font-size: 25px;
    line-height: 30px;
  }
  .accordion{
    width: 224px;
  }
  .accordion-item{
    width: 180px;
    height: 49px;
  }
  .accordion-item-header{
    font-size: 15px;
    line-height: 20px;
  }
  .accardion__wrapper{
    margin: 22px 29px;
  }
  .container__prices-right {
    margin-top: 20px;
  }
  body.noscroll{
    overflow: hidden;
  }
}
@media (max-width: 460px){
  .container{
    padding: 0 25px;
  }
  .container__welcome-title{
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 21px;
  }
  .container__welcome-info{
    max-width: 330px;
  }
  .container__welcome-text{
    padding-left: 0;
    margin-bottom: 23px;
  }
  .container__about-title{
    font-size: 25px;
    line-height: 33px;
    width: 330px;
    margin-bottom: 13px;
  }
  .container__about-text{
    font-size: 15px;
    line-height: 25px;
    max-width: 330px;
  }
  .btn{
    width: 100px;
    height: 34px;
    font-size: 10px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .header{
    height: 96px;
  }
  .welcome{
    padding-top: 24px;
  }
  .container__welcome{
    height: 275px;
  }
  .container__about-info{
    margin-top: 20px;
    margin-bottom: 0;
  }
  .container__about{
    height: 516px;
  }
  .container__service__head{
    margin-top: 10px;
    margin-bottom: 35px;
  }
  .container__service__head-title{
    margin-bottom: 33px;
  }
  .container__service__head-btn{
    padding-left: 10px;
    margin-bottom: 5px;
  }
  .container__service__head-btn-m{
    margin-left: 4px;
    padding-right: 12px;
  }
  .container__service__main-box{
    margin-right: 0;
    margin-left: 2px;
  }
  .container__service__main-box{
    margin-bottom: 34px;
  }
  .container__service__main-box-title{
    margin-bottom: 9px;
  }
  .container__service__main:last-child{
    margin-bottom: -7px;
  }
  .container__prices{
    justify-content: flex-start;
    height: auto;
  }
  .container__prices-left{
    margin-top: 19px;
  }
  .container__prices-left-title{
    text-align: center;
    padding-left: 3px;
    margin-bottom: 38px;
  }
  .accardion__wrapper {
    margin: 28px 23px;
  }
  .accordion-item{
    margin-bottom: 15px;
  }
  .accordion-item-header{
    margin-left: 31px;
    margin-top: 2px;
  }
  .container__prices-right {
    margin-top: 15px;
    align-items: center;
  }
  .container__prices-title{
    font-size: 20px;
    line-height: 35px;
    max-width: 230px;
    text-align: center;
    margin-left: 4px;
    margin-bottom: 16px;
  }
  .container__contacts{
    justify-content: flex-start;
    height: auto;
  }
  .container__contacts-title{
    font-size: 25px;
    line-height: 33px;
    margin-top: 26px;
    margin-bottom: 80px;
  } 
  .container__contacts__dropdown-group{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__content{
    width: 270px;
  }
  .contact__content-item::before{
    width: 200px;
  }
  .card__left-list{
    margin-right: 0;
    max-width: 60px;
  }
  .card__content{
    padding-right: 0;
    display: flex;
    max-width: 270px;
  }
  .card__button{
    margin-left: 40px;
  }
  .card__left-item:last-child{
    line-height: 16px;
  }
  .container__contacts__dropdown-button{
    max-width: 270px;
    height: 50px;
  }
  .container__contacts__dropdown-button::after {
    right: 21px;
  }
  .container__contacts-img{
    width: 100px;
    height: 124.25px;
  }
  .wrapper-img {
    margin: 133px 0 0 0px;
  }
  .container__footer{
    height: 146px;
  }
  .container__footer-social-list {
    margin-top: 10px;
  }
  .container__footer-info-list {
    margin-top: 9px;
  }
}

@media (max-width: 370px){
  .container__welcome-text{
    margin-bottom: 10px;
  }
  .container__about-text{
    width: 300px;
  }
  .container__contacts__dropdown-button{
    max-width: 270px;
  }
}